PORT=YOUR_PORT
DATABASE_URL=postgres://postgres:YOUR_PASSWORD@localhost:YOUR_PORT/YOUR_DATABASE_NAME

JWT_SECRET=YOUR_RANDOM_SECRET
JWT_REFRESH_SECRET=YOUR_OTHER_RANDOM_SECRET
ACCESS_TOKEN_TTL_MINUTES=15
REFRESH_TOKEN_TTL_DAYS=30
